/* .color{
    
    color: rgb(19, 80, 247);
} */

.color:hover{
    color: rgb(8, 8, 8);
}


.lineHeight{
    line-height: 08px;
    font-size: small;
}

.footer-item-lineHeight{
    line-height: 10px;
    font-size: large;
}

.icon-width{
    height: 10vh !important;
    width: 100%;
}

