/* .color{
    
    color: rgb(19, 80, 247);
} */

.color:hover{
    color: rgb(8, 8, 8);
}

.footer-bg-dark{
    background-color: black;
}


.lineHeight{
    line-height: 08px;
    font-size: small;
}

.footer-item-lineHeight{
    line-height: 10px;
    font-size: large;
}

.icon-width{
    height: 10vh !important;
    width: 100%;
}

.footer-border-left{
        border-left:3px solid rgb(183, 179, 179);
        height: 150px
}

.footer-logo{
    height: 12vh;
        width: 80%;
}

@media (max-width : 991px) {
    
        .footer-border-left{
            display: none;
        }

        .icon-width{
            height: auto;
        }
        .footer-logo{
            height: 8vh;
            width: 50%;
        }
}

