
.news-update{
    background-color: white;
    box-shadow: 0px 1px 5px 1px  rgb(227, 228, 230);
    height: 60vh;

}

.news-font{
    font-size: 12px;
}


.chairman-corner{
    background-color: blue;
    color: white;
    height: 60vh;
}

.chairman-name-font{
    font-size: 10px;
    line-height: 5px;
}

.padding-bottom{
    padding-bottom: 2px;
}

.chairman-img-fluid{
    height: 60vh;
    width: 85%;
}

.font-size{
    font-size: medium;
}

@media (max-width : 991px) {

    .chairman-img-fluid{
        width: 100%;
        height: auto;
    }

    .chairman-corner{
        height: auto;
    }

    .news-update{
        height: auto;
    }
}